$font-path: "../fonts" !default;
$social-icons-set: $social-icons;

@font-face {
	font-family: 'socials';
	src:url('#{$font-path}/socials.eot?9b3szo');
	src:url('#{$font-path}/socials.eot?9b3szo#iefix') format('embedded-opentype'),
		url('#{$font-path}/socials.ttf?9b3szo') format('truetype'),
		url('#{$font-path}/socials.woff?9b3szo') format('woff'),
		url('#{$font-path}/socials.svg?9b3szo#socials') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin social-icon-base() {
	font-family: 'socials' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin social-icon($icon, $model) {
	@include social-icon-base;
  content: map-get($social-icons-set, $icon + '-' + $model);
}

// model: circle, naked, rounded, square
// defaults to: square
@mixin social-icon-before($icon, $padding: 0, $color: #000, $model: 'square') {
  &:before {
    @include social-icon($icon, $model);
    padding-right: $padding;
    color: $color;
  }
}

$social-icons: (
	'container-circle': '\e900',
	'container-round': '\e901',
	'container-square': '\e902',
	'facebook-circle': '\e903',
	'facebook-naked': '\e904',
	'facebook-rounded': '\e905',
	'facebook-square': '\e906',
	'github-circle': '\e907',
	'github-naked': '\e908',
	'github-rounded': '\e909',
	'github-square': '\e90a',
	'googleplus-circle': '\e90b',
	'googleplus-naked': '\e90c',
	'googleplus-rounded': '\e90d',
	'googleplus-square': '\e90e',
	'launchpad-circle': '\e90f',
	'launchpad-naked': '\e910',
	'launchpad-rounded': '\e911',
	'launchpad-square': '\e912',
	'linkedin-circle': '\e913',
	'linkedin-naked': '\e914',
	'linkedin-rounded': '\e915',
	'linkedin-square': '\e916',
	'mail-circle': '\e917',
	'mail-naked': '\e918',
	'mail-rounded': '\e919',
	'mail-square': '\e91a',
	'pinterest-circle': '\e91b',
	'pinterest-naked': '\e91c',
	'pinterest-rounded': '\e91d',
	'pinterest-square': '\e91e',
	'reddit-circle': '\e91f',
	'reddit-naked': '\e920',
	'reddit-rounded': '\e921',
	'reddit-square': '\e922',
	'rss-circle': '\e923',
	'rss-naked': '\e924',
	'rss-rounded': '\e925',
	'rss-square': '\e926',
	'twitter-circle': '\e927',
	'twitter-naked': '\e928',
	'twitter-rounded': '\e929',
	'twitter-square': '\e92a',
	'wordpress-circle': '\e92b',
	'wordpress-naked': '\e92c',
	'wordpress-rounded': '\e92d',
	'wordpress-square': '\e92e',
	'youtube-circle': '\e92f',
	'youtube-naked': '\e930',
	'youtube-rounded': '\e931',
	'youtube-square': '\e932'
);
