$font-path: "../fonts" !default;
$social-icons-set: $social-icons;

@font-face {
	font-family: 'socials';
	src:url('#{$font-path}/socials.eot?9b3szo');
	src:url('#{$font-path}/socials.eot?9b3szo#iefix') format('embedded-opentype'),
		url('#{$font-path}/socials.ttf?9b3szo') format('truetype'),
		url('#{$font-path}/socials.woff?9b3szo') format('woff'),
		url('#{$font-path}/socials.svg?9b3szo#socials') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin social-icon($icon, $model) {
  font-family: 'socials';
  content: map-get($social-icons-set, $icon + $model);
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// model: circle, naked, rounded, square
// defaults to: square

@mixin social-icon-before($icon, $padding: 0, $color: #000, $model: 'square') {
  &:before {
    @include social-icon($icon, $model);
    padding-right: $padding;
    color: $color;
  }
}

$social-icons: (
  'container-circle': '\e900',
  'container-round': '\e901',
  'container-square': '\e902',
  'facebook-circle': '\e903',
  'facebook-naked': '\e904',
  'facebook-rounded': '\e905',
  'facebook-square': '\e906',
  'googleplus-circle': '\e907',
  'googleplus-naked': '\e908',
  'googleplus-rounded': '\e909',
  'googleplus-square': '\e90a',
  'linkedin-circle': '\e90b',
  'linkedin-naked': '\e90c',
  'linkedin-rounded': '\e90d',
  'linkedin-square': '\e90e',
  'mail-circle': '\e90f',
  'mail-naked': '\e910',
  'mail-rounded': '\e911',
  'mail-square': '\e912',
  'pinterest-circle': '\e913',
  'pinterest-naked': '\e914',
  'pinterest-rounded': '\e915',
  'pinterest-square': '\e916',
  'reddit-circle': '\e917',
  'reddit-naked': '\e918',
  'reddit-rounded': '\e919',
  'reddit-square': '\e91a',
  'rss-circle': '\e91b',
  'rss-naked': '\e91c',
  'rss-rounded': '\e91d',
  'rss-square': '\e91e',
  'twitter-circle': '\e91f',
  'twitter-naked': '\e920',
  'twitter-rounded': '\e921',
  'twitter-square': '\e922',
  'youtube-circle': '\e923',
  'youtube-naked': '\e924',
  'youtube-rounded': '\e925',
  'youtube-square': '\e926'
);
