@font-face {
	font-family: 'socials';
	src:url('fonts/socials.eot?g5axb8');
	src:url('fonts/socials.eot?g5axb8#iefix') format('embedded-opentype'),
		url('fonts/socials.ttf?g5axb8') format('truetype'),
		url('fonts/socials.woff?g5axb8') format('woff'),
		url('fonts/socials.svg?g5axb8#socials') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'socials' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-container-circle:before {
	content: "\e900";
}
.icon-container-round:before {
	content: "\e901";
}
.icon-container-square:before {
	content: "\e902";
}
.icon-facebook-circle:before {
	content: "\e903";
}
.icon-facebook-naked:before {
	content: "\e904";
}
.icon-facebook-rounded:before {
	content: "\e905";
}
.icon-facebook-square:before {
	content: "\e906";
}
.icon-github-circle:before {
	content: "\e907";
}
.icon-github-naked:before {
	content: "\e908";
}
.icon-github-rounded:before {
	content: "\e909";
}
.icon-github-square:before {
	content: "\e90a";
}
.icon-googleplus-circle:before {
	content: "\e90b";
}
.icon-googleplus-naked:before {
	content: "\e90c";
}
.icon-googleplus-rounded:before {
	content: "\e90d";
}
.icon-googleplus-square:before {
	content: "\e90e";
}
.icon-launchpad-circle:before {
	content: "\e90f";
}
.icon-launchpad-naked:before {
	content: "\e910";
}
.icon-launchpad-rounded:before {
	content: "\e911";
}
.icon-launchpad-square:before {
	content: "\e912";
}
.icon-linkedin-circle:before {
	content: "\e913";
}
.icon-linkedin-naked:before {
	content: "\e914";
}
.icon-linkedin-rounded:before {
	content: "\e915";
}
.icon-linkedin-square:before {
	content: "\e916";
}
.icon-mail-circle:before {
	content: "\e917";
}
.icon-mail-naked:before {
	content: "\e918";
}
.icon-mail-rounded:before {
	content: "\e919";
}
.icon-mail-square:before {
	content: "\e91a";
}
.icon-pinterest-circle:before {
	content: "\e91b";
}
.icon-pinterest-naked:before {
	content: "\e91c";
}
.icon-pinterest-rounded:before {
	content: "\e91d";
}
.icon-pinterest-square:before {
	content: "\e91e";
}
.icon-reddit-circle:before {
	content: "\e91f";
}
.icon-reddit-naked:before {
	content: "\e920";
}
.icon-reddit-rounded:before {
	content: "\e921";
}
.icon-reddit-square:before {
	content: "\e922";
}
.icon-rss-circle:before {
	content: "\e923";
}
.icon-rss-naked:before {
	content: "\e924";
}
.icon-rss-rounded:before {
	content: "\e925";
}
.icon-rss-square:before {
	content: "\e926";
}
.icon-twitter-circle:before {
	content: "\e927";
}
.icon-twitter-naked:before {
	content: "\e928";
}
.icon-twitter-rounded:before {
	content: "\e929";
}
.icon-twitter-square:before {
	content: "\e92a";
}
.icon-wordpress-circle:before {
	content: "\e92b";
}
.icon-wordpress-naked:before {
	content: "\e92c";
}
.icon-wordpress-rounded:before {
	content: "\e92d";
}
.icon-wordpress-square:before {
	content: "\e92e";
}
.icon-youtube-circle:before {
	content: "\e92f";
}
.icon-youtube-naked:before {
	content: "\e930";
}
.icon-youtube-rounded:before {
	content: "\e931";
}
.icon-youtube-square:before {
	content: "\e932";
}

